body
  background #eee
  padding 0
  margin 0

#debug
  position fixed
  left 20px
  top 20px

.wrapper
  margin 0 auto
  margin-top 20px
  width 900px

.header
  font-size 30px
  font-weight bold

.main
  margin-top 10px

#chronicle
  padding 20px 0
  border-radius 5px
  background #fff

  .container
    height 740px
    position relative

    .yearline
      margin 0 auto
      width 2px
      height 100%
      position relative
      background #aaa

      .point
        position absolute
      .year.point
        width 12px
        height 12px
        left -5px
        border-radius 6px
        background #333
      .month.point
        width 8px
        height 8px
        left -3px
        border-radius 4px
        background #333
      .day.point
        width 4px
        height 4px
        left -1px
        border-radius 2px
        background #333
      .start
        top -6px
      .end
        bottom -6px

    .ruler
      display none
      position absolute
      height 1px
      background red

